<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= food.name %></title> <!-- Dynamic title based on fruit name -->
  </head>
  <body>
    <h1>Food Details</h1>
    <ul>
            <li>Name:<a href="/foods/<%= food._id %>"></a> <%= food.name %> </li>
            <li>Description:<a href="/foods/<%= food._id %>"></a> <%= food.description %> </li>
            <li>Image:<a href="/foods/<%= food._id %>"></a> <%= food.image %> </li>
    </ul>
    <!-- new delete button -->
    <form action="/foods/<%=food._id%>?_method=DELETE" method="POST">
        <button type="submit">Delete <%= food.name %></button>
      </form>
      <!-- add edit page link here -->
      <a href="/foods/<%= food._id %>/edit">Edit <%= food.name %></a>
      <a href="/foods">Back to Food</a>
  </body>
</html>